@using LostWordTracker.Layouts
@layout RootLayout
@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
            <BarBrand>LostWord Tracker</BarBrand>
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <BarLink To="/">Home</BarLink>
                    </BarItem>                    
                    <BarItem>
                        <BarLink To="/export">Export</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="/edit">Edit</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="/about">About</BarLink>
                    </BarItem>

                    <BarItem>
                        <BarLink To="">Home</BarLink>
                    </BarItem>                    
                    <BarItem>
                        <BarLink To="export">Export</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="edit">Edit</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="about">About</BarLink>
                    </BarItem>

                    <BarItem>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
                    </BarItem>                    
                    <BarItem>
                        <NavLink class="nav-link" href="export">
                <span class="oi oi-plus" aria-hidden="true"></span> Export
            </NavLink>
                    </BarItem>
                    <BarItem>
                        <NavLink class="nav-link" href="edit">
                <span class="oi oi-plus" aria-hidden="true"></span> Edit
            </NavLink>
                    </BarItem>
                    <BarItem>
                        <NavLink class="nav-link" href="about">
                <span class="oi oi-plus" aria-hidden="true"></span> About
            </NavLink>
                    </BarItem>
                </BarStart>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent Padding="Padding.Is4.OnX">
        @Body
    </LayoutContent>
    <LayoutFooter>
        Copyright goes here
    </LayoutFooter>
</Layout>

<NotificationAlert />