@page "/about"
<h3>About</h3>

<p>I made this page because I wanted to have a database of characters I own I could share and also so I could have something in my portfolio for job interviews</p>
<p>Link to github: <a href="https://github.com/MaddoScientisto/LostWordTracker">https://github.com/MaddoScientisto/LostWordTracker</a></p>
<p>Feel free to add issues if you find any problems</p>


<p>Releases</p>
<p>1.2 - Added popup for defining extra data</p>
<p>1.1 - Made export look a bit better and added custom column counts</p>
<p>1.0 - First real release</p>
@code {

}
