@using LostWordTracker.Core.Services
@page "/export"

<h1>Test</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<img src="@imageSource" style="max-width: 100%; max-height: 90vh; display: block; object-fit: scale-down;" />
@code {
    [Inject] IDrawingService DrawingService { get; set; }
    string imageSource;

    private async Task IncrementCount()
    {
        var bytes = await DrawingService.MakeImage();
        string base64String = Convert.ToBase64String(bytes);
        imageSource = $"data:image/png;base64,{base64String}";
    }
}
