@page "/"

<p>ok let's go</p>

<CardDeck>
    <Card>
        <CardBody>
            <CardTitle>Reimu</CardTitle>
            <Button Color="Color.Primary">Mark</Button>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Marisa</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Reimu</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Marisa</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Reimu</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Marisa</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Reimu</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Marisa</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Reimu</CardTitle>
        </CardBody>
    </Card>
    <Card>
        <CardBody>
            <CardTitle>Marisa</CardTitle>
        </CardBody>
    </Card>
</CardDeck>

@code {

}